:root {
	--main-color-green: #495e57;
	--font-karla: "Karla", sans-serif;
	--font-markazi: "Markazi Text", serif;
}

a:hover {
	color: rgb(125, 131, 14);
	transition: 200ms;
}

.mother {
	padding: 0 70px;
}
.header {
	width: 100%;
	height: 175px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.head-wrap {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.navigation {
	display: flex;
	list-style-type: none;
	width: auto;
	gap: 62px;
	align-items: center;
	font-family: var(--font-karla);
	font-weight: 500;
	font-size: 20px;
}

/* Remove <a> text decoration in navigation */
li > a {
	text-decoration: none;
	color: black;
}

.main {
	width: 100%;
	height: calc(571px + 356px + 559px + 994px);
}

.about {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 571px;
	align-items: center;
}

.about img {
	height: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 8px;
}

.abt-title {
	height: 20%;
	font-family: var(--font-markazi);
	font-weight: bold;
	font-size: 60px;
	text-align: center;
}

.abt-image-top {
	width: 70%;
	height: 40%;
	display: flex;
	justify-content: space-between;
}

.abt-image-bottom {
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.intro-text {
	max-width: 640px;
	font-family: var(--font-karla);
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
	height: max-content;
}

.testimonials {
	display: flex;
	width: 100%;
	height: 356px;
	align-items: flex-end;
	justify-content: space-between;
}

.testi-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 240px;
}

.testi-pict {
	width: 100px;
	aspect-ratio: 1/1;
	border-radius: 50px;
	background: #000;
}

.testi-card img {
	height: 100px;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 50px;
}

.testi-text {
	font-family: var(--font-karla);
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
	text-align: center;
	max-width: 272px;
	height: 75px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
	white-space: pre-wrap; /* let the text wrap preserving spaces */
}
.specials {
	display: flex;
	align-items: flex-end;
	padding-bottom: 30px;
	width: 100%;
	height: 559px;
}

.specials img {
	height: 417px;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 16px;
}

.special-texts {
	height: 417px;
	/* width: 900px; */
	padding-left: 31px;
	display: flex;
	flex-direction: column;
}

.spec-title {
	font-family: var(--font-markazi);
	font-size: 40px;
	font-weight: bold;
	color: #878786;
}

.spec-menutitle {
	font-family: var(--font-karla);
	font-size: 45px;
	font-weight: bold;
	color: #2a443b;
	padding-bottom: 20px;
}

.spec-intro {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-family: var(--font-karla);
	font-size: 20px;
	font-weight: 300;
	color: #000000;
	padding-top: 10px;
}

.spec-desc {
	font-family: var(--font-karla);
	font-size: 18px;
	line-height: 1.5;
	color: #000000;
	padding: 25px 0;
}

.spec-button {
	height: 58px;
	width: 220px;
	background-color: #495e57;
	border-radius: 15px;
	color: white;
	font-family: var(--font-karla);
	font-size: 25px;
	border: none;
	outline: none;
	box-shadow: none;
	cursor: pointer;
}

.spec-button:active {
	background-color: #2b4b40;
}
.menus {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 994px;
	justify-content: center;
}
.menu-main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 23px;
	column-gap: 19px;
	width: 100%;
	height: auto;
	margin: 30px 0;
}

.menu-item-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.menu-title {
	font-family: var(--font-markazi);
	font-weight: bold;
	font-size: 60px;
	color: #495e57;
	text-align: center;
}

.menu-card {
	padding: 15px;
	display: flex;
	/* border: 1px solid black; */
	object-fit: cover;
	column-gap: 15px;
	max-height: 117px;
	border-radius: 16px;
	background: rgb(225, 233, 231);
	background: linear-gradient(
		65deg,
		rgba(225, 233, 231, 1) 64%,
		rgba(255, 255, 255, 1) 100%
	);
}

.menu-card img {
	width: 117px;
	aspect-ratio: 1/1;
	border-radius: 8px;
	object-fit: cover;
}

.menu-item-title {
	font-family: var(--font-markazi);
	font-weight: bold;
	font-size: 40px;
	line-height: 0.8;
}

.menu-item-price {
	font-family: var(--font-karla);
	font-size: 25px;
	font-weight: bold;
}

.menu-addbutton {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu-item-desc {
	font-family: var(--font-karla);
	font-size: 16px;
	line-height: 1.5;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
	white-space: pre-wrap; /* let the text wrap preserving spaces */
}

.menu-button-add {
	background: #495e57;
	width: 100px;
	height: 35px;
	border-radius: 16px;
	font-family: var(--font-karla);
	font-weight: bold;
	color: white;
	border: none;
	cursor: pointer;
}

.menu-edit-order {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: rgba(73, 95, 88, 0.1);
	width: 100px;
	height: 35px;
	border-radius: 16px;
	font-family: var(--font-karla);
	font-weight: bold;
	color: #495e57;
}

.button-order {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #495e57;
	height: 35px;
	border-radius: 16px;
	aspect-ratio: 1/1;
	font-weight: 800;
	color: white;
	cursor: pointer;
}

.button-order:active {
	scale: 0.9;
}

.button-order:hover {
	background: rgb(75, 121, 6);
	transition: 200ms;
}

.menu-button-add:hover {
	background: #8aa729;
	transition: 200ms;
}
.separator-top {
	background-color: #495e57;
	height: 5px;
	width: 350px;
	border-radius: 5px;
}

.separator-bot {
	background-color: #495e57;
	height: 3px;
	width: 400px;
	border-radius: 5px;
}

.menu-note {
	font-family: var(--font-karla);
	font-style: 18px;
	font-weight: normal;
	color: #495e57;
}

.menu-icons img {
	padding: 10px;
	height: 30px;
}
.footer {
	width: 100%;
	height: 335px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.foot-wrap {
	width: 100%;
	height: 234px;
	/* background: rgb(245, 80, 108); */
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}

.foot-links {
	display: flex;
	gap: 107px;
	width: auto;
	height: auto;
}

.foot-title {
	font-family: var(--font-karla);
	font-weight: 600;
	font-size: 25px;
}

.foot-items {
	display: flex;
	gap: 9px;
	flex-direction: column;
	list-style-type: none;
	height: auto;
	font-family: var(--font-karla);
	font-weight: 500;
	font-size: 20px;
}

.sum-and-cont {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
}
.order-sum {
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 16px;
	width: 100%;
	height: auto;
	background: rgb(225, 233, 231);
	padding-bottom: 35px;
	padding: 0px 30px 30px 30px;
}

.cont-button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	width: 300px;
	background: rgb(225, 233, 231);
	border-radius: 16px;
	cursor: pointer;
}

.cont-button:hover {
	background: rgb(136, 155, 151);
	scale: 1.02;
	transition: 200ms;
}

.order-details {
	margin-top: 30px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 20px;
}

.options {
	background: rgb(203, 203, 203);
	font-family: var(--font-karla);
	width: 150px;
	height: 32px;
	border-radius: 4px;
	font-family: var(--font-karla);
	font-size: 20px;
	border: none;
	padding: 0;
}

.order-sum-title {
	font-family: var(--font-markazi);
	font-size: 35px;
	padding-bottom: 5px;
}
